In [16]:
import pandas as pd

In [22]:
bestand_pad = 'Geregistreerde_criminaliteit_1.csv' 
df = pd.read_csv(bestand_pad)
# Controleer de eerste paar rijen
df.head(10)

  Soort misdrijf;"Perioden";"Regio's";"Geregistreerde misdrijven/Totaal geregistreerde misdrijven (aantal)"
0       Misdrijven, totaal;"2010";"Amsterdam";100125
1       Misdrijven, totaal;"2011";"Amsterdam";103375
2       Misdrijven, totaal;"2012";"Amsterdam";101505
3       Misdrijven, totaal;"2013";"Amsterdam";101650
4        Misdrijven, totaal;"2014";"Amsterdam";96475
5        Misdrijven, totaal;"2015";"Amsterdam";96185
6        Misdrijven, totaal;"2016";"Amsterdam";91695
7        Misdrijven, totaal;"2017";"Amsterdam";86745
8        Misdrijven, totaal;"2018";"Amsterdam";81885
9        Misdrijven, totaal;"2019";"Amsterdam";82040